.footer-primary {
  background-color: $brand-secondary;
  color: $gray-tertiary;
  font-size: 14px;
  font-weight: 300;

  &-inner {
    padding: 50px;
    display: grid;
    row-gap: 43px;
    grid-area: nav;
    grid-template-areas:
      'nav'
      'contact'
      'support';

    @include media-breakpoint-up(lg) {
      padding-left: 12px;
      padding-right: 12px;
      grid-template-columns: 1fr 2fr;
      grid-template-areas:
        'nav nav'
        'support contact';
    }
  }

  .footer-nav {
    display: flex;
    flex-wrap: wrap;
    row-gap: 43px;
    grid-area: nav;
    text-transform: uppercase;

    @include media-breakpoint-up(lg) {
      flex-wrap: nowrap;
      column-gap: 110px;
    }

    ul {
      flex-basis: 50%;
      display: flex;
      flex-direction: column;
      gap: 24px;

      @include media-breakpoint-up(lg) {
        flex-basis: auto;
        gap: 4px;
      }
    }
  }

  .footer-contact {
    display: inline-block;
    grid-area: contact;

    h1 {
      text-transform: uppercase;
      font-size: 16px;
      font-weight: 300;

      span {
        font-weight: 500;
      }
    }

    a[href^='mailto:'] {
      color: $brand-primary;
    }

    p {
      display: flex;
      flex-direction: column;
    }
  }

  .footer-support {
    display: flex;
    text-transform: uppercase;
    grid-area: support;

    ul {
      display: flex;
      flex-direction: row;
      gap: 8px;

      li > a > i {
        display: flex;
        align-self: baseline;
        padding-bottom: 5px;
        color: $brand-primary;
        width: 40px;
        height: 40px;
      }
    }
  }
}
